@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');
body{
	background: linear-gradient(to bottom,#0f3b4e, #2bcac8);
}
.centrado1{
	justify-content: center;
	display: flex;
	padding: 10px;
}
.galery{
	display: flex;
	justify-items: center;
}
.galery img{
	position: relative;
	padding: 5px;
	height: 300px;
	width: 31vw;
	left:5%;
}