@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&display=swap');
body{
	background-image: url(../assets/img/grupo.jpg);
}
.formulario{
	background:linear-gradient(to right,#01070c,#285963) ;
	width: 50%;
	margin: 10px 0;
	padding: 20px;
	position: relative;
	left: 25%;
	border-radius: 10px;
}
label,i{
	color: white;

}
input[type="text"],
input[type="email"],
input[type="submit"],
textarea,
select{
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	margin: 8px 0;
	border: 1px solid black;
	box-sizing: border-box;
}
input[type="submit"]{
	border:none;
	background-color: #1a677c;
}
input[type="submit"]:hover{
	background-color: #2bc7c8;
	cursor: pointer;
}